/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 自定义开始 */

.note {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 50%;
  min-width: 50vw;
  margin: 5.3333333333vw 2.6666666667vw;
}

.note_b {
  height: 116%;
  top: -8%;
  transform: translateY(1%);
}

@font-face {
  font-family: 'WhyteInktrapBook';
  src: url('../../static/index-page/WhyteInktrap-Book.woff2');
}

.note_main {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 29vw;
  font-size: 5.3333333333vw;
  font-weight: 400;
  font-family: WhyteInktrapBook, Helvetica, Arial, sans-serif;
  letter-spacing: -0.03em;
  line-height: 1em;
}

.note_aspects {
  display: block;
  overflow: hidden;
  height: 1.15em;
  margin-right: 0.19em;
  margin-bottom: -0.15em;
  padding: 0.01em 0.05em 0.01em 0.01em;
}

.note_p {
  max-width: 32vw;
  font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
  font-size: 1vw;
  line-height: 1.3em;
  letter-spacing: -0.05em;
  max-width: 32vw;
  margin-top: 0.8vw;
  font-weight: 400;
  margin-left: 0.4vw;
}

.section_a {
  height: 93.8vh;
  display: flex;
  justify-content: space-between;
}

.section_a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 93.8vh;
  pointer-events: none;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.13)),
      to(rgba(0, 0, 0, 0.13))
    ),
    -webkit-gradient(linear, left top, left bottom, color-stop(0.78%, rgba(0, 0, 0, 0.25)), color-stop(8.49%, transparent)),
    -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.38)), color-stop(50.07%, transparent));
}

.section_b {
  width: 50vw;
}

.section_img {
  height: 93.8vh;
  object-fit: cover;
  object-position: 18% 36.16%;
  overflow: hidden;
}

.section_mp4 {
  width: 50%;
  min-width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.section_mp5 {
  object-fit: cover;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

/* 暂停|播放按钮 */

.pause {
  position: absolute;
  bottom: 1.5333333333vw;
  right: 1.8666666667vw;
  top: auto;
  width: 18px;
  height: 18px;
  display: block;
  fill: none;
  stroke: white;
  stroke-width: 1.8;
}

.pause:hover {
  stroke: red;
}

.play {
  position: absolute;
  bottom: 1.5333333333vw;
  right: 1.8666666667vw;
  top: auto;
  width: 18px;
  height: 18px;
  display: block;
  fill: none;
  stroke: white;
  stroke-width: 1.8;
}

.play:hover {
  stroke: red;
}

figure {
  margin: 0;
}
